

<h3> Add a new post</h3>

<form action="/profiles/{{userid}}/addPost" method="post">

  <input type="text" name="title" value="your post title"/>
  <input type="text" name="content" value="comment here"/>

  <input type="submit" name="submit" value="submit"/>

</form>

<style>
.purple {
  color: purple;
}
body {
  text-align: center;
}
</style>
