<!-- FORM -->

<form action="/add


New" method="post">

  <input type="text" name="name" value="" placeholder="name">
  <input type="text" name="email" value="" placeholder="email">

  <!-- <select name="characteristic_id">
    {{#each characteristics}}
      <option value="{{id}}">{{description}}</option>
    {{/each}}
  </select> -->

  <select name="deepest_fears">
    <option selected disabled>Pick a Fear</option>
    <option>Spiders</option>
    <option>Falling</option>
    <option>Harrison</option>
    <option>The Colour Blue</option>
    <option>The Number 13</option>
  </select>

  <input type="Submit" value="add new user">

</form>
