
<img src="{{image_url}}">
<br>
<h3 class="purple">{{name}}</h3>
<p>My email is: {{email}} </p>
<p class="purple">My deepest fear is: {{deepest_fears}}</p>
<a href="/"> go home <a>




<style>
.purple {
  color: purple;
}
body {
  text-align: center;
}
</style>
